{% extends "base.html" %}
{% block title %} Mettre à jour Liaison Employe/Chantier {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Mettre à jour Liaison Employe/Chantier</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.id_employe_wtf.label(class="form-control-label") }}
                    {{ form.id_employe_wtf(class="form-control") }}
                    {% if form.id_employe_wtf.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.id_employe_wtf.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.id_chantier_wtf.label(class="form-control-label") }}
                    {{ form.id_chantier_wtf(class="form-control") }}
                    {% if form.id_chantier_wtf.errors %}
                        <div class="alert alert-danger">
                            {% for error in form.id_chantier_wtf.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
