{% extends "base.html" %}
{% block title %} Effacer un Employé (WTF) {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p></p>
            <form action="" method="POST" novalidate>
                {{ form_delete.hidden_tag() }}
                <table class="table table-bordered table-sm">
                    {% if data_chantiers_associes %}
                        <h3>Ce employé est associé avec le(s) chantier(s) suivant(s) :</h3>
                        <thead>
                            <tr>
                                <th>CHANTIER(S)</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row in data_chantiers_associes %}
                            <tr>
                                <td>{{ row.Rue }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <h3>Aucun chantier associé</h3>
                    {% endif %}
                </table>
                <div class="form-group">
                    <p>
                        {{ form_delete.nom_employe_delete_wtf.label }}<br>
                        {{ form_delete.nom_employe_delete_wtf(size=32, readonly=true) }}<br>
                        {% for error in form_delete.nom_employe_delete_wtf.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                {{ form_delete.submit_btn_conf_del(class="btn btn-info") }}
                {% if btn_submit_del %}
                    {{ form_delete.submit_btn_del(class="btn btn-danger") }}
                {% endif %}
                {{ form_delete.submit_btn_annuler(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
