{% extends "base.html" %}
{% block title %} Afficher Employe / Chantier {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Employe / Chantier
            </p>
            <div class="btn-group" role="group" aria-label="Changer la taille du texte">
                <button id="font-small" class="btn btn-secondary">Petit</button>
                <button id="font-medium" class="btn btn-secondary">Moyen</button>
                <button id="font-large" class="btn btn-secondary">Grand</button>
            </div>
            <table class="table table-bordered table-sm" id="data-table">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">ID Liaison</th>
                        <th class="align-middle">Nom</th>
                        <th class="align-middle">Prenom</th>
                        <th class="align-middle">Date de naissance</th>
                        <th class="align-middle">Numero AVS</th>
                        <th class="align-middle">Notoriété</th>
                        <th class="align-middle">rue</th>
                        <th class="align-middle">cp</th>
                        <th class="align-middle">ville</th>
                        <th class="align-middle">etage</th>
                        <th class="align-middle">Pays</th>
                        <th class="align-middle">date_debut</th>
                        <th class="align-middle">date_fin</th>
                        <th class="align-middle">statut</th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td class="align-middle">{{ row.ID_employe_chantier }}</td>
                        <td class="align-middle">{{ row.nom }}</td>
                        <td class="align-middle">{{ row.Prenom }}</td>
                        <td class="align-middle">{{ row.Date_de_naissance }}</td>
                        <td class="align-middle">{{ row.Numero_AVS }}</td>
                        <td class="align-middle">{{ row.Notoriete }}</td>
                        <td class="align-middle">{{ row.rue }}</td>
                        <td class="align-middle">{{ row.cp }}</td>
                        <td class="align-middle">{{ row.ville }}</td>
                        <td class="align-middle">{{ row.etage }}</td>
                        <td class="align-middle">{{ row.Pays }}</td>
                        <td class="align-middle">{{ row.date_debut }}</td>
                        <td class="align-middle">{{ row.date_fin }}</td>
                        <td class="align-middle">{{ row.Statut }}</td>
                        <td class="text-center align-middle">
                            <a class="btn btn-primary" href="{{ url_for('employe_chantier_ajouter') }}" role="button">Ajouter</a>
                        </td>
                        <td class="text-center align-middle">
                           <a class="btn btn-warning" href="{{ url_for('employe_chantier_update', id_liaison=row.ID_employe_chantier) }}" role="button">Edit</a>
                        </td>
                        <td class="text-center align-middle">
                            <a class="btn btn-danger" href="{{ url_for('genre_delete_wtf', id_genre_btn_delete_html=row.ID_Chantier) }}" role="button">Delete</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>
                            Aucun Employe.
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ url_for('genres_ajouter_wtf') }}" role="button">Ajouter</a>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>

<script>
    document.getElementById('font-small').addEventListener('click', function() {
        document.getElementById('data-table').style.fontSize = '12px';
    });

    document.getElementById('font-medium').addEventListener('click', function() {
        document.getElementById('data-table').style.fontSize = '16px';
    });

    document.getElementById('font-large').addEventListener('click', function() {
        document.getElementById('data-table').style.fontSize = '20px';
    });
</script>
{% endblock %}
