{% extends "base.html" %}
{% block title %} Ajouter un Chantier (WTF) {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                Ajouter un nouveau Chantier (WTForms)
            </p>
            <form action="" method="POST" novalidate>
                <!-- Protection contre les attaques Cross-Site Request Forgery (CSRF) -->
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <p>
                        {{ form.rue.label }}<br>
                        {{ form.rue(size=32) }}<br>
                        {% for error in form.rue.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                      <p>
                        {{ form.cp.label }}<br>
                        {{ form.cp(size=32) }}<br>
                        {% for error in form.cp.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.ville.label }}<br>
                        {{ form.ville(size=32) }}<br>
                        {% for error in form.ville.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                     <p>
                        {{ form.etage.label }}<br>
                        {{ form.etage(size=32) }}<br>
                        {% for error in form.ville.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                      <p>
                        {{ form.pays.label }}<br>
                        {{ form.pays(size=32) }}<br>
                        {% for error in form.pays.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.date_debut.label }}<br>
                        {{ form.date_debut() }}<br>
                        {% for error in form.date_debut.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                     <p>
                        {{ form.date_fin.label }}<br>
                        {{ form.date_fin() }}<br>
                        {% for error in form.date_fin.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                     <p>
                        {{ form.statut.label }}<br>
                        {{ form.statut() }}<br>
                        {% for error in form.statut.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
