{% extends "base.html" %}
{% block title %} Afficher EMPLOYES {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="">
						  ID Employé
						</th>
						<th class="">
						  Nom
						</th>
						<th class="">
						  Prénom
						</th>
						<th class="">
						  Type Employé
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.ID_employe }}
					  </th>
					  <th class="align-middle">
						{{ row.Nom }}
					  </th>
					  <th class="align-middle">
						{{ row.Prenom }}
					  </th>
					  <th class="align-middle">
						{{ row.FK_type_employe|default("", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('employe_update_wtf', id_employe_btn_edit_html=row.ID_employe) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Delete</a>
					  </th>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td colspan="7">
							Aucun employé.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
