<footer class="mt-auto py-2 footer-dark">
  <div class="container-fluid">
      <!-- Suppression ou ajustement de la ligne hr -->
      <!-- <hr class="py-0 bg-light" /> -->
        <div class="row">
            <div class="col-md-6">Electricity Database.<span class="small"><br><a href="https://www.orientation.ch/dyn/show/1900?id=199" target="_blank">Le métier d'électricien.</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2024.07.06</div>
        </div>
  </div>
</footer>
